@*@model IEnumerable<ShopApp.Entities.Product>*@
@*@model ShopApp.WebUI.Models.ProductListModel*@
@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>*@
@*<link href="D:\Kurs_Notları\Altan Emre Hoca Core Kısmı\MySelf\ShopApp\ShopApp.WebUI\node_modules\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet" />*@
@*<link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
@*</head>
    <body>*@
@*@foreach (var item in Model.Products)
    {
        <p>@item.Name</p>
    }*@
@*</body>
    </html>*@


@model ProductListModel

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            @*<li class="list-group-item">Telefon</li>
            <li class="list-group-item">Bilgisayar</li>
            <li class="list-group-item">Elektronik</li>*@
            @await Component.InvokeAsync("CategoryList")
        </ul>
    </div>
    <div class="col-md-9">
        <partial name="_slider" />
        @*@foreach (var item in Model.Products)
            {
                <p>@item.Name</p>
            }*@
        <div class="row">
            @foreach (Product item in Model.Products)
            {
                <partial name="_product" for="@item" />
            }
        </div>
    </div>
</div>

